.content {
    background: #FFFFFF;
}

.content-main-layout {
    padding: 40px 106px;
    box-shadow: 0px 0px 8px 0px #C9C9C940;
    background-color: transparent !important;
}

.content-main-layout .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #757575;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    appearance: none;
    border-radius: unset !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-bottom: 1px solid #DBDBDB;
}

.form-button {
    background-color: #001B30;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    padding: 6px 36px;
    border-radius: 50px;
    margin-top: 40px;
}

.submit-main {
    display: flex;
    justify-content: center;
}

.form-button:hover {
    background-color: #333 !important;
    color: #fff;
}

.upload-file {
    width: 80%;
}

.close-icon {
    font-size: 30px;
}

.content-main-layout h6 {
    font-size: 20px;
    color: #001B30;
    line-height: 23px;
    font-weight: 700;
}

.content-submit-btn {
    background-color: #001B30;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    padding: 08px 60px;
    border-radius: 50px;
    margin: 40px 0;
    border: 2px solid #001B30;
}

.submit-btn {
    background-color: #001B30;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    padding: 3px 26px;
    border-radius: 50px;
    border: 2px solid #001B30;
}

.content-submit-btn:hover,
.submit-btn:hover {
    background-color: #fff !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
    border: 2px solid #001B30;
    color: #001B30 !important;
}

.uplod-file-img {
    width: 300px;
    height: 300px;
    border: 2px dashed rgb(204, 204, 204);
    border-radius: 10px;
    text-align: center;
    padding: 60px;
    margin: 20px auto;
    transition: transform 0.3s ease;
}

.uplod-file-img span {
    display: block;
}

.progress-container {
    width: 50%;
    margin: 50px auto;
}

progress {
    height: 3px;
    appearance: none;
    border: none;
    border-radius: 5px;
}

progress::-webkit-progress-bar {
    background-color: #f0f0f0;
    border-radius: 5px;
}

progress::-webkit-progress-value {
    background-color: #001B30;
    border-radius: 5px;
}

.uplod-file-img.dragging {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.rti--input {
    width: 100% !important;
}

.rti--container,
.rti--container:focus-within {
    color: #757575 !important;
    background-color: transparent !important;
    background-clip: padding-box !important;
    border-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
    appearance: none !important;
    border-radius: unset !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    border-bottom: 1px solid #DBDBDB !important;
}

.rti--container:focus-within {
    border-color: black !important;
}
.tag-cls {
    border: 1px solid #24BE8B !important;
    background: transparent !important;
    border-radius: 20px !important;
    padding: 7px 20px !important;
}

@media(max-width:1199px) {
    .content-main-layout {
        padding: 40px 65px;
    }

    .upload-file {
        width: 100%;
    }
}

@media(max-width:1024px) {
    .content-main-layout {
        padding: 30px 50px;
    }
}

@media(max-width:991px) {
    .upload-file {
        margin-bottom: 30px !important;
    }

    .content-main-layout {
        padding: 30px;
    }
}

@media(max-width:767px) {
    .uplod-file-img {
        width: 240px;
        height: 270px;
        padding: 58px;
    }
}

@media(max-width:575px) {
    .content-main-layout {
        padding: 30px 80px;
    }
}

@media(max-width:420px) {
    .uplod-file-img {
        width: 100% !important;
    }

    .content-main-layout {
        padding: 30px 10px;
    }
}